h1 {
    text-align: center;
    color: white;
    padding-top: 160px;
    padding-bottom: 160px;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
}

footer {
    margin: auto;
    text-align: center;
    padding: 50px;
    background-color: #34bfff;
    color: white;  
}

.navbar {
    top: 0;
    position: absolute;
    z-index: 4;
    background-color: transparent;
    color: white;
}

.dropdown:hover .nav-link {
    text-decoration: underline;
    color: white;
}

.dropdown:hover .dropdown-menu {
    color: white;
    display: block;
    background-color: #00a595;
}

.dropdown-item {
    color: white;
}

.nav-item:hover .nav-link {
    text-decoration: underline;
}

.nav-link {
    font-size: larger;
    color: white !important;
}

.photo-text {
    color: white;
    text-align: center;
    margin: auto;
    max-height: 370px;
    z-index: 3;
    position: relative; 
    font-size: 80px;
}

.box {
    position: absolute;
    background-color: #00a595;
    top: 0;
    height: 370px;
    width: 100%;
    opacity: 0.3;
    z-index: 2;
}

.bg-photo {
    background-size: cover;
    z-index: 1;
    top: 0;
    height: 370px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
}

